@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@300;400;600&display=swap');

body {
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::placeholder {
	color: '#9AA5AF';
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}
